<div class="main-container">
  <h5>ID 찾기</h5>
  <hr>
  <form>
    <div class="form-group">
      <label for="name" class="label">이름</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="이름" placeholder="" id="name">
    </div>
    <div class="form-group">
      <label for="method" class="label">본인인증수단</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="본인인증수단" placeholder="" id="method">
      <small id="method" class="form-text ">가입시 입력한 전화번호나 이메일 주소를 입력하십시오.</small>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-sm">검색하기</button>
  </form>
  <hr>
  <h5>PASSWORD 찾기</h5>
  <form>
    <div class="form-group">
      <label for="id" class="label">아이디</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="아이디" placeholder="" id="id">
    </div>
    <div class="form-group">
      <label for="name" class="label">이름</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="이름" placeholder="" id="name">
    </div>
    <div class="form-group">
      <label for="method" class="label">본인인증수단</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="본인인증수단" placeholder="" id="method">
      <small id="method" class="form-text ">가입시 입력한 전화번호나 이메일 주소를 입력하십시오.</small>
    </div>
    <button type="submit" class="btn btn-primary btn-block btn-sm">검색하기</button>
  </form>
</div>
