<form class="main-container">
  <div class="form-group">
    <label for="id" class="label">ID</label>
    <input type="text" class="form-control form-control-sm" aria-describedby="ID" placeholder="아이디를 입력하세요" id="id">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="password" class="label">Password</label>
    <input type="password" class="form-control form-control-sm" id="password" placeholder="패스워드를 입력하세요">
  </div>
  <button type="submit" class="btn btn-primary btn-block btn-sm">Login</button>
</form>
