<div class="main-container">

  <h3>매장 가입</h3>
  <small id="method" class="form-text">#가 표시된 항목은 필수 입력항목입니다</small>
  <hr>
  <form>
    <div class="form-group">
      <label for="id" class="label"><span># &nbsp;</span>아이디</label>
      <input type="email" class="form-control form-control-sm" aria-describedby="아이디" placeholder="" id="id">
      <div class="invalid-feedback">Please fill out this field.</div>
      <small id="method" class="form-text">영문소문자, 숫자를 조합하여 8자이상 18자 이하로 생성하십시오</small>
    </div>
    <div class="form-group">
      <label for="password" class="label"><span># &nbsp;</span>비밀번호</label>
      <input type="password" class="form-control form-control-sm" aria-describedby="비밀번호" placeholder="" id="password">
      <small id="method" class="form-text ">영문소문자,숫자를 조합라여 8자이상 18자ㅏ 이하로 생성하십시오</small>
    </div>
    <div class="form-group">
      <label for="password-confirm" class="label"><span># &nbsp;</span>비밀번호확인</label>
      <input type="password" class="form-control form-control-sm" aria-describedby="비밀번호확인" placeholder=""
        id="password-confirm">
    </div>
  </form>
  <hr>
  <form>
    <div class="form-group">
      <label for="shop-name" class="label"><span># &nbsp;</span>매장명</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="매장명" placeholder="" id="shop-name">
    </div>
    <div class="form-group">
      <label for="postcode" class="label"><span># &nbsp;</span>우편주소</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="우편주소" placeholder="" id="postcode">
    </div>

    <div class="form-group">
      <label for="province" class="label"><span># &nbsp;</span>시/도</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="시/도" placeholder="" id="province">
    </div>

    <div class="form-group">
      <label for="city" class="label"><span># &nbsp;</span>시/군/구</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="매장명" placeholder="" id="city">
    </div>


    <div class="form-group">
      <label for="etc1" class="label">기타주소</label>
      <input type="text" class="form-control form-control-sm" aria-describedby="주소" placeholder="" id="etc1">
    </div>

    <div class="form-group">
      <input type="text" class="form-control form-control-sm" aria-describedby="본인인증수단" placeholder="" id="etc2">
    </div>

    <button type="submit" class="btn btn-danger btn-block btn-sm">취소</button>
    <button type="submit" class="btn btn-primary btn-block btn-sm">등록</button>
  </form>
</div>
